#headme 
<div class="body-wrapper">
<div class='container-template'>
	<div class='page-title'>
		<div class="image-container">
			<img src="/assets/images/panels.jpg"/>
		</div>
		<div class="title-text">
			<h1 >##title##</h1>
			<div id='blo'></div><h2 class='page-subtitle'>##subtitle##</h2>
		</div>

	</div>
		<div class="two-picture page-content">
			<div class="first-section">
				<p>##para1##</p>	
			</div>
			<div class="second-section">
			
			<div class="paragraph">
				<p>##para2##</p>
			</div>
			<div class="image">
				<img src="/assets/images/simone-hutsch-546578-unsplash_v1_current.jpg"/>
			</div>
			</div>
		</div>
</div>
	<div class="footer">
		<div class="footer-left">
			
		</div>
		<div class="footer-center">
		</div>
		<div class="footer-right">
			
		</div>

		<div class="geo-shapes-bottom">
			<div class="shape circle" style="left:30px; bottom: 35px"></div>
			<div class="shape circle" style="left:50px; bottom: 50px"></div>
			<div class="shape circle" style="right:60px; top: 50px"></div>
			<div class="shape sqr" style="right:130px; bottom: 40px"></div>
			<div class="shape rect" style="right:300px; bottom: 150px"></div>
			<div class="shape squiggle" style="right:30px; bottom: 50px"></div>
			<div class="shape plus" style="left:80px; top: 20px">+</div>
			<!-- <div class="shape squiggle" style="left:140px; top: 30px">~</div> -->
		</div>
	</div>
</div>